<html>
<h1>Hello World </h1>
           <head>
              <title>node info </title>
           </head>
           <body>
                 <h1>HelloWorld!</h1>
                 IPADDRESS:<%= node['ipaddress'] %>
                 HOSTNAME:<%= node['hostname'] %>
                 MEMORY:<%= node['memory']['total'] %>
                 CPU:<%= node['cpu']['0']['mhz'] %>
           <img src="pallavi.jpg" >
</body></html>
